html,
body {
    padding: 0;
    width: auto;
    height: auto;
    text-align: center;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

header {
    height: 20%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {    
    background-image: url("../img/ml07.jpg") !important;
    background-size: cover !important;
}

div {
  position: relative;
}

h1 {
    margin-top: 15px !important;
}

h3 {
    margin: 10px 0;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table {
    margin: 15px auto;
}

.div-title {
    margin: 0;
    padding: 30px 0;
    background: #888A;
}

* {
    box-sizing: border-box;
  }

.div-col1-page-header {
    float: left;
    width: 80%;
    padding-left: 20%;
    text-align: center;
}

.div-col2-page-header {
    float: left;
    width: 20%;
    padding: 5px 50px 0 0;
    text-align: right;
}

.div-col2-sub1-page-header {
    float: right;
    height: 40px;
    width: auto;
    margin-top: 15px;
    padding: 0;
    align-items: right;
}

.div-col2-sub2-page-header {
    float: right;
    height: 40px;
    width: auto;
    margin-top: 15px;
    padding: 0;
    text-align: left;
}

.div-col2-sub3-page-header {
    float: right;
    height: 40px;
    width: auto;
    margin-top: 15px;
    padding: 0;
    text-align: right;
}

.img-robohash {
    height: 40px !important;
    width: 40px !important;
}

.div-row-page-header:after {
    content: "";
    display: table;
    clear: both;
}

.page-title {
    margin: 0;
    padding: 0;
}


.img-header {
    width: 266px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.container {
  -webkit-box-align: center;
  width: 94%;
  height: 70%;
  max-width: 1400px;
  padding-right: auto;
  padding-left: auto;
  margin: auto;
}

.user-card {
    width: 550px;
    margin: 50px auto;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#transaction-card {
    width: 1050px;
}

.form-container,
.ui-container {
    margin-top: 10px;
}

.container-button-metamask,
.input-group {
    margin: 0;
    padding: 0;
}

.container-button-homepage {
    padding: 0;
    margin: 10px 0 15px 0;
}

.container-button-metamask > div {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container-input-address {
    margin-top: 5px;
    margin-bottom: 6
}

#form-title{
    color: #fff;
}

.button-metamask {
    height: 40px;
    width: 120px;
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 60px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background: #5086bd !important;
}

.public-address {
    margin: 0;
    padding: 6px;
    font-size: 16px;
}

.input-address-front {
    margin: 5px 0 0 5px;
    padding: 0;
}

.button-metamask:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
  
.button-metamask:active {
transform: translateY(1px) !important;
}

.input-group-text {
    width: 35px;
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-username:focus,
.input-address:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.messages {
    color: #fff;
    background-color: grey;
    padding: 5px;
    margin: 10px 0;
}

