{% load static %}

<!DOCTYPE html>
<head>    
    <title>VIXCOIN</title>
    
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <!-- <script src="https://unpkg.com/web3@1.6.1/dist/web3.min.js"></script> -->
    <script src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ethjs@0.3.0/dist/ethjs.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<header>
  {% block header %}
  {% endblock %}
  <span class="navigation-bar">
    <a href="{% url 'home' %}">Home | </a>
    <a href="{% url 'about' %}">Meet the Team | </a>
    <a href="{% url 'signup' %}">Signup | </a>
    <a href="{% url 'login' %}">Login</a>
  </span>
</header>

<body>
  {% block content %}
  {% endblock %}
</body>

