{% extends './base.html' %}
{% load static %}

<DOCTYPE html>
<html lang="en">
  <head>
      {% block head %}
      <meta name="nickname" content={{ nickname }} />
      <meta name="public_address" content={{ public_address }} />
      <meta name="balance" content={{ balance }} />
      <meta name="coin_cost" content={{ coin_cost }} />

      <script src="{% static '/js/home.js' %}"></script>
      <link rel="stylesheet" href="{% static '/css/home.css' %}">
      <input name="time_executed" id="time_executed" type="hidden" disabled></input>
      {% endblock %}
  </head>

  <header>
    {% block header %}
    <div class="div-row-page-header">
      <div class="div-col1-page-header">
        <h1 class="page-title">My Portfolio</h1>
      </div>
      
      <div class="div-col2-page-header">
        <div class="div-col2-sub1-page-header">          
          <div id="container-button-metamask" class="container-button-metamask">
            <script type="text/babel" src="{% static '/js/metamask_connect.js' %}"></script>
          </div>
        </div>
        <div class="div-col2-sub2-page-header">
          <div className="input-group">
            <p name="public_address_front" id="input-address-front" class="input-address-front">0x000...</p>
            <input type="hidden" name="public_address" id="input-address" class="input-address" />
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </header>

  <body>
    {% block content %}
    <h3>Current Market Value: {{ coin_cost }} USD</h3>

    <img id="img-robohash" src="" alt="robohash" style="display: none;" />

    <div class="container">      
      <div class="user-card">
        <h3>Portfolio Summary</h3>

        <div id="container-portfolio-table" class="container-portfolio-table">
            <script type="text/babel" src="{% static '/js/portfolio_table.js' %}"></script>
        </div>
      </div>

      <div class="user-card">
        <form action="" method="POST">
          {% csrf_token %}
          <h3>VIXCOIN Sell</h3>
      
          <label for="coin_count">Coin count:</label>
          <input type="number" name="coin_count" step="any" id="coin_count" placeholder="0.00" min="0.01" onchange="updateCurrencyCost()" required />
      
          <label for="currency_cost">Coin cost:</label>
          <input type="number" name="currency_cost" step="any" id="currency_cost" placeholder="0.000000" min="0.000001" onchange="updateCoinCount()" required />
          <input type="submit" value="Withdraw" />
        </form>
      </div>

      <div class="user-card">
        <form action="" methdod="POST">
          {% csrf_token %}
          <h3>VIXCOIN Buy</h3>
      
          <label for="coin_count">Coin count:</label>
          <input type="number" name="coin_count" step="any" id="coin_count" placeholder="0.00" min="0.01" onchange="updateCurrencyCost()" required />
      
          <label for="currency_cost">Coin cost:</label>
          <input type="number" name="currency_cost" step="any" id="currency_cost" placeholder="0.000000" min="0.000001" onchange="updateCoinCount()" required />
      
          <label for="purchase_currency">Purchase currency:</label>
          <select name="purchase_currency" id="purchase_currency">
            <option value="USD">US Dollar</option>
            <option value="EUR">Euro</option>
            <option value="SVC">Salvadorean Colón</option>
          </select>
      
          <input type="submit" value="Depoist" />
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>