{% extends './portfolio_base.html' %}
{% load static %}

<!DOCTYPE html>
<head>
    {% block head %}
    {% endblock %}
</head>

<header>
  {% block header %}
  {% endblock %}
</header>

<body>
  {% block content %}
  <h3 id="current-market-value"></h3>

  <form action="" method="POST">
    {% csrf_token %}

    <div class="user-card">
      {% block portfolio_content %}
      {% endblock %}
    </div>

    <div class="user-card">
      <h3>VIXCOIN Buy</h3>

      <div>
        {% block deposit_content %}
        {% endblock %}
      </div>
    </div>

    <div class="user-card">
      <h3>VIXCOIN Sell</h3>

      <div>
        {% block withdraw_content %}
        {% endblock %}
      </div>
    </div>

    <div class="user-card" id="transaction-card">
      {% block transaction_content %}
      {% endblock %}
    </div>
  </form>

  {% endblock %}
</body>
