{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>    
        <title>VIXCOIN</title>

        <meta name="nickname" content={{ nickname }} />
        <meta name="nickname" content={{ user }} />
        <meta name="public_address" content={{ public_address }} />
        <meta name="balance" content={{ balance }} />
        <meta name="contract_address" content={{ contract_address }} />
        <meta name="coin_cost" content={{ coin_cost }} />
  
        <meta name="tx_hash" content={{ tx_hash }} />
        <meta name="tx_contractAddress" content={{ tx_contractAddress }} />
        <meta name="tx_from" content={{ tx_from }} />
        <meta name="tx_to" content={{ tx_to }} />
        <meta name="tx_value" content={{ tx_value }} />
        <meta name="tx_gasUsed" content={{ tx_gasUsed }} />
        <meta name="tx_date" content={{ tx_date }} />
        <meta name="tx_time" content={{ tx_time }} />
        
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/ethjs@0.3.0/dist/ethjs.min.js"></script>
        <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="text/javascript"></script>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <script src="{% static '/js/utils.js' %}"></script>

        <script src="{% static '/abi/VixcoinToken.json' %}"></script>
        <script src="{% static '/abi/VixcoinTokenCrowdsale.json' %}"></script>
        <script src="{% static '/abi/VixcoinTokenCrowdsaleDeployer.json' %}"></script>

        <link rel="stylesheet" href="{% static '/css/portfolio_base.css' %}" />
        <link rel="stylesheet" href="{% static '/css/input_text.css' %}">
        <link rel="stylesheet" href="{% static '/css/button.css' %}">
        <link rel="shortcut icon" href="{% static '/img/favicon01.ico' %}" />
        {% block head %}
        {% endblock %}
    </head>

    <header>
        {% block header %}
        {% endblock %}
        <div class="div-row-page-header">
          <div class="div-col1-page-header">
            {% if user %}
              <h1 class="page-title">{{ user }}'s Portfolio</h1>
            {% else %}
              <h1 class="page-title">Your Portfolio</h1>
            {% endif %}
          </div>
          
          <div class="div-col2-page-header">
            <div class="div-col2-sub1-page-header">
              <div id="container-button-metamask" class="container-button-metamask">
                <script type="text/babel" src="{% static '/js/portfolio_metamask_connect.js' %}"></script>
              </div>
            </div>
            <div class="div-col2-sub2-page-header">
              <div className="input-group">
                <p name="public_address_front" id="public-address" class="public-address">0x00...</p>
              </div>
            </div>
            <div class="div-col2-sub3-page-header">
              <div className="input-group">
                <img id="img-robohash" src="" alt="robohash" style="display: none;" />
              </div>
            </div>
          </div>
        </div>

        <span class="navigation-bar">
            <a href="{% url 'home' %}">Home</a> | 
            <a href="{% url 'about' %}">About Us</a> | 
            <a href="{% url 'mypage' %}">Profile</a>
        </span>
    </header>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>

